/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body
{
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

.ms-regular {
               font-family: "Chivo Mono", monospace;
               font-optical-sizing: auto;
               font-weight: 300;
               font-style: normal;
             }

.fredoka {
            font-family: "Fredoka", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings:
            "wdth" 100;
          }

.fredoka-light {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
