<div class="flex flex-col h-full  shadow-xl p-3 rounded-2xl gap-3 ">
  <div class="flex items-center justify-center min-h-100 bg-gray-200 rounded-md">
    <p class="text-gray-400">map placeholder</p>
  </div>

  <div class="flex grow overflow-hidden">
    <div class="flex flex-col grow max-w-6/12 p-3 gap-3">
      <h1 class="text-xl">{{ tour().title }}</h1>
      <div class="flex flex-row gap-2 justify-center ">
        <div class="flex flex-row items-baseline place-content-between p-1.5 border-1 rounded-md w-fit h-fit min-w-20 border-gray-400">
          <p class="ms-regular text-sm text-gray-400"> {{ tour().distance | number: '2.2' }} </p>
          <p class="ms-regular text-sm text-gray-400">km</p>
        </div>
        <div class="flex flex-row items-baseline place-content-between p-1.5 border-1 rounded-md w-fit h-fit min-w-20 border-gray-400">
          <p class="ms-regular text-sm text-gray-400"> {{ tour().duration | number: '2.2' }} </p>
          <p class="ms-regular text-sm text-gray-400">h</p>
        </div>
      </div>

      <hr class="text-gray-300">
<!--      <hr>-->
      <p class="fredoka-light text-sm/4 text-gray-600">{{tour().description}}</p>

    </div>
    <div class="flex grow items-center justify-center bg-gray-100  rounded-md">
      <p class="text-gray-400"> tour logs placeholder </p>
    </div>
  </div>


</div>
